@import "../generycs/variables";
@import "../generycs/mixins";
// =============================================================================
// -- Appbar Component
// =============================================================================
.appbar {
    @include size(100%, auto);
    // texts
    color: $white;

    &-blue-container {
        @include size(100%, auto);
        background-color: $darkBlue;
        margin: 0 auto;

        @media #{$breakpoint-smartphone-big-landscape} {
            padding: 0 24px;
        }

        @media #{$breakpoint-tablet-port} {
            padding: 0;
        }
    }

    &-container {
        @include size(100%, 56px);
        // flex
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
    }

    // brand icon
    &-icon {
        @include size(136px, auto);
        display: block;
        margin: auto;
        margin-left: 8px;

        img {
            @include size(100%, auto);
            display: block;
        }
    }

    &-mini-menu {
        margin: auto;
        margin-right: 0;
        
        ul {
            display: block;
            // flex
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;

            li {
                margin: auto 10px;
            }
        }

        a {
            color: $white;
        }
    }

    // material icons
    .material-icons {
        @include font-size(24px);
        @include line-height(24px);
    }

    // =============================================================================
    // -- MENU
    // =============================================================================
    &-container-menu {
        @include size(100%, auto);
        background-color: $white;
    }

    &-menu {
        @include size(100%, auto);
        background-color: $white;

        li {
          @include size(100%, auto);
          border-bottom: 1px solid $lightGray;
          padding: 0 16px;
          @include transition(0.2s);

          &:hover {
              background-color: $lightGray;
              @include transition(0.2s);
          }
        }

        a {
            @include font-size(14px);
            @include line-height(40px);
            flex-wrap: 400;
            color: $darkGray;
            display: block;
        }
    }

}

// =============================================================================
// -- Hamburger Button
// =============================================================================
.btn-hamburger {
  background: transparent;
  border: none;
  height: 18px;
  padding: 0;
  margin: 0;
  // margin: 8px 0;
  transition: .3s;
  cursor: pointer;
  user-select: none;
  @include border-radius(0);
  /* */
  &:hover {
    opacity: 1;
  }
  &:active {
    transition: 0;
  }
  &.active {
    -webkit-transform: scale3d(.8,.8,.8);
        transform: scale3d(.8,.8,.8);
  }

  //three-lines to x
  &.active {
    .lines {
      background: transparent;
      &:before, &:after{
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
        top:0;
        width: $button-size;
      }
      &:before{
        -webkit-transform: rotate3d(0,0,1,45deg);
                transform: rotate3d(0,0,1,45deg);
      }
      &:after{
        -webkit-transform: rotate3d(0,0,1,-45deg);
                transform: rotate3d(0,0,1,-45deg);
      }
    }
  }
}

//common to all three-liners
.lines {
  @include line;
  position: relative;

  &:before, &:after {
   @include line;
    position: absolute;
    left:0;
    content: '';
    -webkit-transform-origin: $button-size/14 center;
            transform-origin: $button-size/14 center;
  }
  &:before {
    top: $button-size/4;
  }
  &:after {
    top: -$button-size/4;
  }
}