@import "../generycs/variables";
@import "../generycs/mixins";
@import "node_modules/react-image-gallery/styles/scss/image-gallery.scss";
// =============================================================================
// -- List Component
// =============================================================================
.HotelsResultList {
    @include size(100%, auto);
    overflow: hidden;   
}

.HotelsResultListItem {
    @include size(100%, auto);
    background-color: $white;
    overflow: hidden;
    padding: 8px;
    box-shadow: 0px 1px 3px 0px $listItemShadow;
    margin: auto;
    margin-bottom: 16px;
    position: relative;
    // animateITems
    @include fade-in(.3ms);
    @include transition(0.2s);

    // gallery
    .image-gallery-image {
        max-height: 190px;

        @media #{$breakpoint-tablet-port} {
           height: 190px;

           img {
               height: 100%;
               object-fit: cover;
           }
        }
    }
    
    .image-gallery-left-nav {
        left: 8px;
    }
    
    .image-gallery-right-nav {
        right: 8px;
    }

    .image-gallery-left-nav,
    .image-gallery-right-nav {
        @include size(26px, 26px);
        @include border-radius(50%);
        overflow: hidden;
        background-color: $white;
        padding: 0;

        @include font-size(18px);
        @include line-height(25px);
        color: $arrowBlue;

        &:before {
            @include line-height(26px);
            color: $arrowBlue;
            text-shadow: none;
            font-weight: bold;
        }
    }


    // responsive
    @media #{$breakpoint-tablet-port} {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;
        justify-content: space-between;
    }
}

.item-recommended {
    @include size(100%, auto);
    display: block;
    background-color: $recommendedBlue;
    padding: 8px;
    // text
    color: $white;
    font-weight: bold;
    text-align: center;
    @include font-size(14px);
    @include line-height(16px);

    // position
    position: absolute;
    z-index: 10;
}

.gallery-container {
    position: relative;
    overflow: hidden;

    @media #{$breakpoint-tablet-port} {
        flex-basis: 33%;
    }
}

.description-container {
    @include size(100%, auto);
    overflow: hidden;
    padding: 8px 0;

    @media #{$breakpoint-tablet-port} {
        flex-basis: 42%;
        padding: 0 16px;
    }

    h2 {
        @include font-size(16px);
        @include line-height(24px);
        font-weight: bold;
    }

    .stars-list {
        @include size(100%, auto);
        overflow: hidden;
        margin-bottom: 8px;

        i {
            width: 16px;
            margin-right: 4px;
            @include font-size(16px);
            @include line-height(24px);
            color: $starYellow;
        }
    }

    .meal-plan {
        @include font-size(14px);
        @include line-height(16px);
        color: $orange;
        margin-bottom: 16px;

        i {
            @include font-size(14px);
            @include line-height(14px);
        }

        span {
            display: inline-block;
            font-weight: bold;
            text-transform: capitalize;
            vertical-align: middle;
        }
    }

    .amenities-list {
        @include size(100%, auto);
        margin-bottom: 16px;

        i {
            @include line-height(24px);
            margin: 0 4px;
        }
    }
}

.price-container {
    @include size(100%, auto);
    padding-top: 16px;
    border-top: 1px dashed $dashedGray;
    text-align: center;

    @media #{$breakpoint-tablet-port} {
        flex-basis: 25%;
        padding-top: 0;
        padding-left: 8px;
        border-top: none;
        border-left: 1px dashed $dashedGray;
    }

    p {
        @include font-size(14px);
        @include line-height(16px);
        margin-bottom: 8px;

        @media #{$breakpoint-tablet-port} {
            @include font-size(12px);
        }
    }

    .price-amount {
        color: $orange;
        display: block;
        margin-bottom: 8px;
        
        span {
            display: inline-block;
        }

        &-currency {
            @include font-size(24px);
            @include line-height(40px);
            margin-right: 4px;
            vertical-align: top;
        }

        &-display-price {
            @include font-size(36px);
            @include line-height(40px);
            font-weight: bold;
        }
    }

    strong {
        @include font-size(14px);
        @include line-height(16px);
        font-weight: bold;
        display: block;
        margin: 0 auto;
    }
}

.discount-label {
    @include size(40px, 48px);
    background-color: $green;
    padding-top: 4px;
    @include border-radius(2px);
    border-top-right-radius: 0px;
    // position
    position: absolute;
    top: 0px;
    left: 16px; 
    z-index: 11;
    // text
    @include font-size(14px);
    @include line-height(18px);
    color: $white;
    font-weight: bold;
    text-align: center;


    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: -8px;
        border-width: 4px;
        border-style: solid;
        border-color: transparent transparent $darkGreen $darkGreen;
    }


    span {
        display: inline-block;
    }
}