// =============================================================================
// - Form elements containers
// =============================================================================

// =============================================================================
// -  Inputs
// =============================================================================
input[type=text] {
  @include size(100%, 32px);
  @include border-radius(2px);
  background-color: $white;
  display: block;
  padding: 0 8px;
  border-width: 1px;
  border-color: $filterDivider;
  border-top-color: $dashedGray;
  @include font-size(14px);
  @include line-height(16px);
  color: $darkGray;
}

label {
  @include font-size(14px);
  @include line-height(34px);
  
  @media #{$breakpoint-smartphone-medium} {
      @include font-size(16px);
      @include line-height(30px);
  }
}

button[disabled=false] {
  cursor: pointer;
}