// =============================================================================
// Variables
// =============================================================================
$grid-max-width: 1400px;
$grid-columns: 12;

$button-size: 1.5rem;
// $button-size-mobile: 2.1rem;
$button-transition: .3s;
// =============================================================================
// -- COLORES
// =============================================================================
$white: #FFFFFF;
$black: #000000;

$texts: #444444;

// theme
$darkBlue: #002c77;
$ultraDarkBlue: #00163C;
$arrowBlue: #157ab1;
$recommendedBlue: #2671DD;

$green: #509E3C;
$darkGreen: #2D5C23;

$starYellow: #FDBA12;
$orange: #DF6800;

$ultraLightGray: #f4f4f4;
$lightGray: #eaeaea; // listItems divider
$darkGray: #444444;
$dashedGray: #777777;

$listItemShadow: rgba(119, 119, 119, 0.3);

// =============================================================================
// -- BREAKPOINTS
// =============================================================================
$breakpoint-small: 'only screen and (max-width: 20em)';
$breakpoint-medium: 'only screen and (min-width: 49em)';
//desktop
$breakpoint-desktop-big: '(min-width: 106.250em)';
$breakpoint-desktop-medium: '(min-width: 92em)';
// laptop
$breakpoint-laptop-big: '(min-width: 90em)';
$breakpoint-laptop-pc: '(max-width: 86em)';
$breakpoint-laptop-small: '(min-width: 70.000em)';
// tablet
$breakpoint-tablet-land:'(min-width: 63.938em)';
$breakpoint-tablet-port:'(min-width: 47em)';
// smartphone landscape
$breakpoint-smartphone-big-landscape: 'only screen and (min-width: 40em)';
$breakpoint-smartphone-medium-landscape: 'only screen and (min-device-width: 41.688em)';
$breakpoint-smartphone-small-landscape: 'only screen and (min-device-width: 35.500em)';
// smartphone portrait
$breakpoint-smartphone-big: '(min-width: 25.000em)';
$breakpoint-smartphone-medium: '(min-width: 23.375em)';
$breakpoint-smartphone-small: '(max-width: 20.000em)';


